<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>
<configuration debug="true">
    <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/gateway-app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/tmp/%d{yyyyMMdd}/gateway-app-%d{yyyyMMdd}.log.gz</fileNamePattern>
            <maxHistory>1</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>[%d{yyyyMMdd'T'HH:mm:ss.SSS} [%t] %C{2}.%M\(\):%L %mdc %-5p]: %m%n</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyyMMdd'T'HH:mm:ss.SSS} [%t] %C{2}.%M\(\):%L %mdc %-5p]: %m%n</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <appender name="LOG_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="LOG_FILE"/>
    </appender>

    <appender name="STDOUT_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="STDOUT"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOG_ASYNC"/>
        <appender-ref ref="STDOUT_ASYNC"/>
    </root>
</configuration>